* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;

}



.logo {
    font-size: 20px;
    line-height: 100px;
    padding: 0 100px;
   

}

nav {
background: white;
height: 90px;
width: 105.5%;



}

.ul {
width: 50%;
margin-left: auto;
display: inline-block;
vertical-align: top;
padding: 3%;


}

.heroimg {
height: 600px;
padding: 25px;


}
.content {
width: 500px;
margin: 0 auto;
}

.footer {
background-color: #373738;
padding: 1%;
font-family: 'Plus Jakarta Sans';


}

body {  
font-size: 14px;
background-image: url("/images/mainpichome.png");
background-position: absolute;
width: 1440px;
height: 1020px;
left: 0px;
top: 84px;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Plus Jakarta Sans';



}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;

}

label {

font-size: 28px;
line-height: 20px;

}


p {
    text-align: center;
    font-size: 20px;
}

.rectangle { position: absolute;
width: 622px;
height: 466px;
left: 326px;
top: 361px;

background: #B2E6E2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

label.logo {
font-size: 24px;
line-height: 80px;
padding: 0 100px;

}

.logo img {
    position: relative;
    width: 100px;
    float:left;
    margin-top:5px;
    cursor: pointer;
}

.stickynote { 
position: absolute;
width: 622px;
height: 430px;
left: 400px;
top: 361px;

background: #B2E6E2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
box-sizing: border-box;


}
p {

margin: 10px;
padding: 1%;


}

.centerbutton {
text-align: center;

}

button {
background-color: #FFFAE3;
height: 30px;
width: 150px;
}
